{% extends 'shelter/main.html' %}

{% block content %}

    {% include 'shelter/status.html' %}

    <br>

    <div class="row">
        <div class="col-md-8">
            <h5>ANIMALS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'add-animal' %}">Add New Animal</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Daily ration</th>
                        <th>Status</th>
                    </tr>

                    {% for animal in animals %}
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="{% url 'update-animal' animal.id %}">View</a></td>
                            <td><a class="btn btn-sm btn-info" href="{% url 'delete-animal' animal.id %}">Delete</a>
                            </td>
                            <td>{{ animal.id }}</td>
                            <td>{{ animal.name }}</td>
                            <td>{{ animal.type }}</td>
                            <td>{{ animal.daily_ration }} kg</td>
                            <td>{{ animal.status }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>
{% endblock %}