{% extends 'shelter/main.html' %}

{% block content %}

    <br>

    <div class="row">
        <div class="col-md-8">
            <h5>Food:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'add-food' %}">Add New Food</a>
                <table class="table table-sm">
                    <tr>
{#                        <th></th>#}
{#                        <th></th>#}
                        <th>Name</th>
                        <th>Form</th>
                        <th>Life stage</th>
                        <th>Feature</th>
                        <th>Weight</th>
                        <th>Price</th>
                    </tr>

                    {% for food in all_food %}
                        <tr>
{#                            <td><a class="btn btn-sm btn-info" href="{% url 'update-food' food.id %}">View</a></td>#}
{#                            <td><a class="btn btn-sm btn-info" href="{% url 'delete-food' food.id %}">Delete</a>#}
                            </td>
                            <td>{{ food.name }}</td>
                            <td>{{ food.form }}</td>
                            <td>{{ food.life_stage }}</td>
                            <td>{{ food.feature }}</td>
                            <td>{{ food.weight }}</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>
{% endblock %}