<br>

{% include 'shelter/message.html' %}

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-animals">
                <div class="card-header">
                    <h5 class="card-title">Total Animals</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_animals }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-dogs">
                <div class="card-header">
                    <h5 class="card-title">Dogs</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_dogs }}</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-cats">
                <div class="card-header">
                    <h5 class="card-title">Cats</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_cats }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="feeding-ration-for-animals">
                <div class="card-header">
                    <h5 class="card-title">Feed ration for animals</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ feed_ration_num }} kg</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="cats-feed-ration">
                <div class="card-header">
                    <h5 class="card-title">Total dogs food</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ dogs_feed_ration_num }} kg</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="dogs-feed-ration">
                <div class="card-header">
                    <h5 class="card-title">Total cats food</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ cats_feed_ration_num }} kg</h3>
                </div>
            </div>
        </div>
    </div>
</div>