#logo {
}

body {
    background-color: #ebeff5;
}


#total-animals {
    background-color: #1ABC9C;
}


#feeding-ration-for-animals {
    background-color: #1ABC9C;
}

#total-cats {
    background-color: #76D7C6;
}

#total-dogs {
    background-color: #76D7C8;
}

#cats-feed-ration {
    background-color: #76D7C0;
}

#dogs-feed-ration {
    background-color: #76D7C0;
}